name: Detectar dependencias .sql con GitHub Actions 

on:
  push:
    branches:
      - '**'


jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      # Clonar repositorio al runner de GitHub
      - name: Checkout del c贸digo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # Todas las ramas y commits

      # Step para obtener el contenido de cada .sql de cada rama
      - name: Guardar contenido de .sql en variable de entorno
        run: |
          git fetch --all
          # Variable de entorne para que use el pr贸ximo step para la detecci贸n de dependencias
          SQL_CONTENT=""
          for branch in $(git branch -r | grep -v '\->'); do
            commit=$(git rev-parse $branch)
            files=$(git ls-tree -r --name-only $commit | grep '\.sql$' || true)
            for f in $files; do
              SQL_CONTENT="$SQL_CONTENT\n$(git show $commit:$f)"
            done
          done
          # Exportar variable para el otro step
          echo "SQL_CONTENT<<EOF" >> $GITHUB_ENV
          echo -e "$SQL_CONTENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Ejecutar script de detecci贸n de dependencia del repositorio
        run: |
          # Temporal: muestra solo el contenido de los .sql
          echo "$SQL_CONTENT"